In [1]:
import pandas as pd

dataset_satu = pd.read_csv("../app/dataset/dataset-cyberbullying.csv")
dataset_dua = pd.read_csv("../app/dataset/dataset_komentar_instagram_cyberbullying.csv")

In [4]:
dataset_dua = dataset_dua.rename(columns={'Sentiment': 'Kategori', 'Instagram Comment Text': 'Komentar'})
dataset_dua['Kategori'] = dataset_dua['Kategori'].replace(['negative'], 'Bullying')
dataset_dua['Kategori'] = dataset_dua['Kategori'].replace(['positive'], 'Non-bullying')
dataset_dua.drop('Id', inplace=True, axis=1)

dataset_dua.head()

   Kategori                                           Komentar
0  Bullying   <USERNAME> TOLOL!! Gak ada hubungan nya kegug...
1  Bullying  Geblek lo tata...cowo bgt dibela2in balikan......
2  Bullying  Kmrn termewek2 skr lengket lg duhhh kok labil ...
3  Bullying  Intinya kalau kesel dengan ATT nya, gausah ke ...
4  Bullying  hadewwwww permpuan itu lg!!!!sakit jiwa,knp ha...

In [5]:
dataset_dua = dataset_dua[['Komentar','Kategori']]
dataset_dua.head()

                                            Komentar  Kategori
0   <USERNAME> TOLOL!! Gak ada hubungan nya kegug...  Bullying
1  Geblek lo tata...cowo bgt dibela2in balikan......  Bullying
2  Kmrn termewek2 skr lengket lg duhhh kok labil ...  Bullying
3  Intinya kalau kesel dengan ATT nya, gausah ke ...  Bullying
4  hadewwwww permpuan itu lg!!!!sakit jiwa,knp ha...  Bullying

In [6]:
dataset_satu.drop(['No.','Nama Instagram','Tanggal Posting'], inplace=True, axis=1)
dataset_satu.drop(['Unnamed: 6','Unnamed: 7'], inplace=True, axis=1)
dataset_satu.drop(dataset_satu.columns[2], inplace=True, axis=1)

dataset_satu.head()

                                            Komentar      Kategori
0        "Kaka tidur yaa, udah pagi, gaboleh capek2"  Non-bullying
1            "makan nasi padang aja begini badannya"  Non-bullying
2  "yang aku suka dari dia adalah selalu cukur je...      Bullying
3  "Hai kak Isyana aku ngefans banget sama kak Is...  Non-bullying
4  "Manusia apa bidadari sih herann deh cantik te...  Non-bullying

In [7]:
data = pd.concat([dataset_satu, dataset_dua])
data.head()
index = data.index

len(index)

1050

In [14]:
data['Kategori'].value_counts()

Non-bullying    525
Bullying        525
Name: Kategori, dtype: int64

In [15]:
data['Komentar'] = data['Komentar'].str.replace(r"[\"\',]", '')
data.head()

C:\Users\Satrio\AppData\Local\Temp/ipykernel_13532/1653748368.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Komentar'] = data['Komentar'].str.replace(r"[\"\',]", '')

                                            Komentar      Kategori
0            Kaka tidur yaa udah pagi gaboleh capek2  Non-bullying
1              makan nasi padang aja begini badannya  Non-bullying
2  yang aku suka dari dia adalah selalu cukur jem...      Bullying
3  Hai kak Isyana aku ngefans banget sama kak Isy...  Non-bullying
4  Manusia apa bidadari sih herann deh cantik ter...  Non-bullying

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

x = data['Komentar']
y = data['Kategori']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [17]:
cv = CountVectorizer() 
x_train = cv.fit_transform(x_train)
x_test = cv.transform(x_test)

In [18]:
from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(x_train, y_train)

LinearSVC()

In [19]:
model.score(x_test,y_test)

0.8428571428571429

In [20]:
from sklearn.metrics import classification_report, confusion_matrix

y_pred = model.predict(x_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[90 15]
 [18 87]]
              precision    recall  f1-score   support

    Bullying       0.83      0.86      0.85       105
Non-bullying       0.85      0.83      0.84       105

    accuracy                           0.84       210
   macro avg       0.84      0.84      0.84       210
weighted avg       0.84      0.84      0.84       210

In [21]:
import joblib

joblib.dump(model, './SVM_Cyberbullying_model.pkl')
joblib.dump(cv, './Vectorizer.pkl')

['./Vectorizer.pkl']